@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Kode+Mono:wght@400..700&display=swap');

body{
    font-family: "Annapurna SIL", serif;
    font-weight: 400;
    font-size: 16px;

    background-color: #FF5F5D;
}


main{
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    padding: 6px;
    box-shadow: 5px 5px 5px #a33f3a6b;
}
h1{
    
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #bbac61;
    text-align: center;
    text-shadow: 2px 2.5px 3px #837844;
}
h2{
    color: #E2C391;
    font-size: 2em;
}