*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.cabeca{
    background-color: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabeca ul{
    display: flex;
    list-style: none;

}
.cabeca img {
    width: 180px;
}
.cabeca ul li+li{
    margin-left: 24px;
}

.cabeca a{
    color: aliceblue;
    text-decoration: none;
    transition: 0.5s;
}
.cabeca a:hover{
    color: rgba(60, 62, 206, 0.712);
}
/*-------------------------------*/

.heroi{
    background-color: blue;
    background-image: url(../treinos_em_HTML&&CSS/images/banner.jpg);
    background-size: cover;
    background-position: center 25%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    flex-direction: column;

}
.heroi h1{
    color: aliceblue;
    display: flex;
}
.pontos span{
    display: inline-block;
    background-color: aliceblue;
    height: 6px;
    width: 6px;
    border-radius: 55%;
}