*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.header {
    background-color: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header ul{
    display: flex;
    list-style: none;
}
.header img{
    width: 185px
}
.header ul li+li{
    margin-left: 20px;
}
.header a{
    color: aliceblue;
    transition: 1s;
    cursor: pointer;
}
.header a:hover{
    color: rgb(42, 76, 189);
}
